[report]=
show_missing = True
omit =
      */site-packages/*
      *markupsafe/*
      *psycopg2/*
      *six.py*
      *sqlalchemy/*
      *werkzeug/*
      *stringprep.py*
      *uuid.py*
      *ctypes/*
      *decimal.py*
      *encodings/*
      *hmac.py*
      *asyncio/*
      *concurrent/*
      *multiprocessing/*
      *mimetypes.py*
      *numbers.py*
      *pydoc.py*
      *http/*
      *app/app.py*
      *app/config/config.py*
      *app/extensions.py*
      *app/model/*
      *app/views/bookings*
      *app/marshallow_models.py*
      *app/utils/*
      *html/*
      *_bootlocale.py*
      *typing.py*
      *_strptime.py*
      *csv.py*
      *dataclasses.py*
      *distutils/*
      *logging/*
      *pathlib.py*
      *socketserver.py*
      *timeit.py*
